/* ctrl + / is shortcut to comment */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body#homepage{
    background-color: rgba(128, 0, 0, 0.5);
}

body#muffin{
     background-color: rgba(81, 0, 128, 0.445);
}

body#cocktail{
    background-color: rgba(0, 55, 128, 0.445);
}

body#fries{
    background-color: rgba(119, 128, 0, 0.445);
}

body{
    margin: 0;
    padding: 0;
}

.list{
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.main-title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-title h1{
    height: auto;
    width: auto;
    padding: 20px;
}

.recipe-image{
    width: 500px;
    height: 300px;
    display: inline;
    margin: 10px 80px;
}

.tobias-image{
    width: 300px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.content{
    text-align: left;
    padding: 20px;
}

.container{
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    border: 5px solid;  
    margin: 10px;
}

#homepage .container{
    background-color:  rgba(128, 0, 0, 1);
    border-color: wheat;
}

#muffin .container{
    background-color: rgba(81, 0, 128, 1);
    border-color: palevioletred;
}

#cocktail .container{
    background-color: rgba(0, 55, 128, 1);
    border-color: aliceblue;
}

#fries .container{
    background-color: rgba(119, 128, 0, 1);
    border-color: goldenrod;
}

.container.footer{
    padding: 50px; 
    margin: 0; 
    border: 5px solid;
    width: auto;
    height: auto;
}

.container.main-title{
    border: 5px solid;
    margin: 0;
}

.footer{
    text-align: center;
}

/*Navbar*/
.nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 14px;
}

.nav li{
    list-style: none;
    border: 2px solid;
    padding: 5px;
    margin-top: 5px;
    flex: 0 1 auto;
}

.nav li a{
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

#homepage .nav li{
    background-color:  rgba(128, 0, 0, 1);
    border-color: wheat;
}

#homepage .nav li:hover{
    background-color: rgba(128, 0, 0, 0.8);
}

#muffin .nav li{
    background-color: rgba(81, 0, 128, 1);
    border-color: palevioletred;
}

#muffin .nav li:hover{
    background-color: rgba(81, 0, 128, 0.8);
}

#cocktail .nav li{
    background-color: rgba(0, 55, 128, 1);
    border-color: aliceblue;
}

#cocktail .nav li:hover{
    background-color: rgba(0, 55, 1280, 0.8);
}

#fries .nav li{
    background-color: rgba(119, 128, 0, 1);
    border-color: goldenrod;
}

#fries .nav li:hover{
    background-color: rgba(119, 128, 0, 0.8);
    border-color: goldenrod;
}