.list{
    list-style-type: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    background-color: maroon;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}